<h1>Network Configuration Transactions</h1>

<div id='search' style='float:right; margin-top:13px'>
<script type="text/javascript">
function doSearch() {
	var s = document.getElementById('searchClause');
	location = "/net_config_transactions/sort?curDir=<%=@curDir%>&curOrder=<%=@curOrder%>&page=1&searchClause="+s.value;
	return false;
}
</script>
		<%= submit_tag 'Search', :onClick=>'return doSearch();', :class=>'standard_button'%>
		<%= text_field_tag "searchClause", @searchClause, :size=>40, :onKeydown=>'if (event.keyCode==13) doSearch();' %>
</div>

<% if @transactions.blank? %>

	<p>No Transactions match that criteria</p>

<% else %>

<table border='0' class='tablenettransactions' cellspacing='1' cellpadding='0' width='100%' >
  <thead>
  <tr>
		<% @items.each_pair{|key,value|
			if value == 'not_sortable'
				%>
				<th class='no_sort_header'><%= key%></th>
				<%
			else
				klass = 'header '
				if value == @curOrder
					klass += @curDir ? 'headerSortDown' : 'headerSortUp'
				end
					%>
	<th class='<%=klass%> <%=value%>'><%= link_to "#{key} &nbsp;".html_safe,  {:action=>:sort, :order=>value, :curOrder=>@curOrder,:curDir=>@curDir,:searchClause=>@searchClause,:just_mine=>@justMine,:show_admin=>@show_admin} %></th>
					<%
			end
		} %>
  </tr>
  </thead>
  <tbody id='admin_list_tbody_id'>
	<%= render( :partial => "transaction", collection: @transactions, as: :transaction) %>
</table>

<div class="apple_pagination">
	<div class="page_info">
		<%= page_entries_info @transactions %>
	</div>
	<%= will_paginate @transactions %>
</div>
<% end %>
